.menu-container{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url('/images/menu-bg.png');
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
        url('/images/hero-bg.jpeg');
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat;
    background-color: #0000006b;
}

.hero-title{
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px #800020;
    margin: 0;
}

.hero-tag{
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    width: 800px;
    font-size: 19px;
    color: #A0A0A0;
    text-align: center;
}

.menu-listings{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/images/menulist_bg.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: repeat;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    height: 80px;
}

.menu-category{
    width: 100px;
    background-color: #000000;
    border:1px solid #0974ef8d;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    transition-duration: 0.3s;
}

.menu-category.active{
    background-color: #0974ef;
    border:1px solid #0000008d;
    color: white;
}


.menu-category-name{
    color:white;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}


.menu-items{
    padding:45px;
    
}

.catalogue{
    padding:45px;
    justify-self: center;
    border:1px solid rgba(255, 255, 255, 0.699);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    position: relative;
}

.sub-hero-title{
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 5px 5px #800020;
    margin: 0;
}

.menu-items ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 30px; 
    row-gap: 10px;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.item{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: fit-content;
}

.item-name, .item-price{
    font-family: "Oswald", sans-serif;
    color:white;
    font-size: 22px;
    margin: 0;
}

.item-desc{
    font-family: "Kelly Slab", sans-serif;
    font-weight:400;
    color: #A0A0A0;
}

.cocktailimg{
    width: 150px;
    position:absolute;
    bottom:-25px;
    right:-5px;
    z-index: 90;
}


.drinkimg{
    width: 150px;
    position:absolute;
    top:-120px;
    left:-65px;
    z-index: 90;
}

.add-item-btn{
    background-color: #0974ef;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 19px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    transition-duration: 0.3s;
    position: absolute;
    top:10px;
    right:10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #121618;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content input,
.modal-content textarea {
    width: 95%;
    justify-self: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions button:first-child {
    background-color: #0974ef;
    color: white;
}

.modal-actions button:last-child {
    background-color: #ddd;
    color: black;
}



.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    column-gap: 15px;
    align-self: center;
    margin-bottom:100px;
    margin-top: 80px;
}

.footer-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0000006b;
    border:1px solid rgba(255, 255, 255, 0.699);
    row-gap: 15px;
    border-radius:15px;
    height:100px;
}

.footer-block-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.footer-block-content-row{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
}

.material-symbols-outlined {
  color:#fb9c29a2;
  font-weight: 400;
  padding: 0;
  margin:0;
}

.w-40{
    width: 80%;
    margin-left: 10px;
    justify-self: center;
    align-self: center;
}

.name-secondary{
    height:fit-content;
    display: flex;
    align-items: center;
}


.logo-image-footer{
    width: 70px;
    height: 60px;
    margin-right: 10px;
    margin-top:-100px;
    background-color: #0b0b0c;
}


.social{
    width: 40%;
}

@media (max-width: 768px) {
    .hero-tag{
        width: 90%;
    }
    .add-item-btn{
        font-size: 15px;
        padding: 10px 15px;
    }

    .menu-listings{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        row-gap: 10px;
        align-self: center;
        justify-self: center;
        list-style: none; 
        padding: 0; 
        margin: 0; 
    }

    .menu-category{
        width: 80px;
        background-color: #000000;
        border:1px solid #0974ef8d;
        height: 30px;
        font-size: small;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.3s;
    }
    
    .menu-category-name{
        color:white;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }


    .menu-items{
        padding:20px;
        margin-top: 55px;
        
    }
    
    .catalogue{
        padding:40px 10px;
        justify-self: center;
        border:1px solid rgba(255, 255, 255, 0.699);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .menu-items ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        column-gap: 30px; 
        row-gap: 10px;
        list-style: none; 
        padding: 0; 
        margin: 0; 
    }

    .cocktailimg{
        width: 80px;
        position:absolute;
        bottom:-35px;
        right:-5px;
        z-index: 90;
    }
    
    
    .drinkimg{
        width: 80px;
        position:absolute;
        top:-60px;
        left:-35px;
        z-index: 90;
    }

    .menu-footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        row-gap: 15px;
        align-self: center;
        margin-top:50px;
    }
    .footer-block:nth-child(2) {
        order: -1; 
    }
}